#cadastro {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}


.input{
    height: 40px;
    width: auto;
}

.label-float{
    position: relative;
    padding-top: 13px;
}

.label-float input{
    outline: none;
    width: 80vh;
    min-width: 180px;
    font-size: 16pt;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
    border: 1px solid black;
    
}

.label-float label{
    pointer-events: none;
    position: absolute;
    top: auto;
    left: 5px;
    margin-top: 13px;
    opacity: 65%;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}




.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: -15px;
    color: #3951b2;
    opacity: 100%;
}

fieldset{
    width: 80vh;
}
fieldset > legend{
    left: 10px;
    text-align: left;
}
#salvar{
    background-color: #3A9F45;
}
#cancel{
    background-color: #E75050;
}
#btn{
    display: flex;
    justify-content: space-evenly;
}

.cadActions{
    height: 50px;
    width: 100px;
    border-radius: 10em;
    border: 0;
    margin: 5px 0;
    cursor: pointer;
    
}

.cadActions:hover{
    box-shadow: 0px 2px 5px black;
}
