
.l{
    height: 67%;
    width: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
}
.list{
    overflow:auto;
    max-height: 100%;
    width: 100%;
    background-color: brown;
}
table{
    width: 100%;
}
thead{
    position: sticky;
    top: 0;
}
.descricao{
    width: 50%;
}
button{
    height: 40px;
    width: 90px;
    font-size: 15pt;
    border: 1px solid black;
}

#entrada{
 background-color: #08701f;
}
#saida{
    background-color: rgb(150, 32, 32);
    color: white;
}
