@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Tourney:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* #root{

    width: 100%;
    height: 100vh;
} */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
h1{
    font-family: 'Open Sans', cursive;
    font-weight: 700;
    color: black;
}

.input{
    height: 40px;
    width: auto;
    
}



.conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    justify-content: flex-start;
}
