li {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    color: white;
}


#colunas, #lista {
    background-color: rgba(58, 19, 231, 0.438);
}
.itens{
    background-color: rgb(49, 60, 160);
}
.cod{
    width: 50px;
}
form {
    display: flex;
    flex-direction: column;
}