
thead{
    
    background-color: #211523;
    color: #eff3ec;
}
table{
    
    border-collapse: collapse;
}

.prod:nth-child(even){
    background-color: #eff3ec;

}

.prod:nth-child(odd){
    background-color: #2a2c3a;
    color: #eff3ec;
}

td, th {
    padding: 5px;
}

tr > td:last-child{
    padding: 0 20px;
}