
thead{
    
    background-color: #211523;
    color: #eff3ec;
}
.lista{
    display: block;
    height: 80vh;
    overflow-y: auto;
    width: 100%;
    /* table-layout: fixed; */
}
table{
    
    border-collapse: collapse;
}
tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.prod:nth-child(even){
    background-color: #eff3ec;

}

.prod:nth-child(odd){
    background-color: #2a2c3a;
    color: #eff3ec;
}

td, th {
    word-break: break-word;
}

tr > td:last-child{
    padding: 0 0px;
}#container-list{
    width: 100%;
    overflow: auto;
}

.numbers{
    width: 5%;
}

th.med{
    width: 8%;
    padding-right: 15px;
}
.med{
    width: 8%;
}
.local{
    width: 16%;
}

.desc{
    width: 50%;
}
